:root {
    --font-family: "Montserrat", sans-serif;
    --second-font-family: "Roboto", sans-serif;
    --third-font-family: "Kaushan Script", sans-serif;
    --logo-and-svgs-color: #95E1D3;
    --titles-color: #333333;
    --navigations-and-line-color: #B6B6B6;
    --small-line-color: #F38181;
    --footer-text-color: #000000;
}